<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mapper.CategoryMapper">

	<!-- 회원리스트 -->
	<select id="list" resultType="CategoryDto">
		SELECT
		cate_cd, cate_nm,
		catesub_cd,catesub_nm
		FROM category
	</select>

	<insert id="create">
		INSERT INTO
		category (cate_cd, cate_nm,catesub_cd, catesub_nm)
		VALUES (#{cate_cd},#{cate_nm},#{catesub_cd},#{catesub_nm})
	</insert>

	<!-- 리스트맵 형식 -->
	<select id="readListMap" resultType="java.util.HashMap">
		SELECT
		cate_cd, cate_nm,
		catesub_cd,catesub_nm
		FROM category
	</select>

	<!-- 회원리스트 상세보기 -->
	<select id="read" resultType="CategoryDto">
		SELECT 
		cate_cd, cate_nm,
		catesub_cd,catesub_nm
		FROM category
		WHERE  catesub_cd = #{catesub_cd}
	</select>


	<update id="update">
		UPDATE category
		SET cate_cd =#{cate_cd},
		cate_nm =#{cate_nm},
		catesub_nm =#{catesub_nm}
		WHERE catesub_cd = #{catesub_cd} 
	</update>

	<delete id="delete">
		DELETE
		FROM category
		WHERE catesub_cd = #{catesub_cd} 
	</delete>

</mapper>