<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.project.mapper.ReviewMapper">

<!-- 검색하는 쿼리 -->
	<sql id="search">
		<if test="searchType != 'x'.toString() and searchType != null and searchType != ''.toString()">

			<!-- 아이디: i , 제목: t , 내용:: c -->
			<if test="searchType == 'i'.toString()">
				and mb_id like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 't'.toString()">
				and review_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and review_content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'itc'.toString()">
				and ( mb_id like CONCAT('%', #{keyword}, '%')
				OR
				review_title
				like CONCAT('%', #{keyword}, '%')
				OR
				review_content 
				like CONCAT('%',#{keyword}, '%')
			</if>
		</if>
	</sql>
	
	
<!-- <select id="reviewList" resultType="ReviewDto"> -->
<!-- 	SELECT * FROM ( -->
<!-- 		SELECT  -->
<!-- 					review_no, -->
<!-- 					review_title, -->
<!-- 					goods_img, -->
<!-- 					mb_id, -->
<!-- 					review_content, -->
<!-- 					reg_date, -->
<!-- 					review_hit -->
<!-- 		FROM ( -->
<!-- 					SELECT  -->
<!-- 								r.review_no, r.review_title, g.goods_img, r.mb_id, -->
<!-- 								r.review_content, r.reg_date, r.review_hit -->
<!-- 					FROM -->
<!-- 								review r, goods g -->
<!-- 					WHERE -->
<!-- 								r.goods_no = g.goods_no -->
<!-- 								<include refid="search"></include> -->
<!-- 					ORDER BY -->
<!--  									review_no DESC, reg_date DESC							 -->
<!-- 					) -->
<!--  	) -->
<!--  	WHERE  -->
<!-- 				limit #{pageStart}, #{perPageNum}		 -->
<!-- </select> -->

<select id="reviewList" resultType="ReviewDto">
SELECT 
			review_no, review_title, g.goods_img, g.goods_name, mb_id, review_content ,r.reg_date, review_hit
FROM 
			review r,  goods g
 WHERE 
 			r.goods_no = g.goods_no   
 			<include refid="search"></include>
 			
 ORDER BY
 			review_no desc
limit #{pageStart}, #{perPageNum}			
</select>
<!-- limit #{pageStart}, #{perPageNum}	 -->
<select id="reviewCount" resultType="Integer">
	SELECT 
				count(review_no)
	FROM
			  	review
	WHERE
				review_no > 0
	<include refid="search"></include>			
</select>


<select id="view" resultType="ReviewDto">

	select
			review_no,
			mb_id,
			review_title,
			g.goods_img,
			review_content,
			reg_date,
			review_hit
	FROM
			review r, goods g 
	WHERE
			review_no = #{review_no} and r.goods_no = g.goods_no
</select>

<update id="hit">
UPDATE 	
			review
SET
		  review_hit = review_hit + 1
WHERE
			review_no = #{review_no}		  		
</update>

<insert id="write">
INSERT INTO
					review (
					goods_no, 
					catesub_cd,
					mb_id,
					review_title,
					review_content
					)
VALUES 				
					(
					#{goods_no}, 
					#{catesub_cd},
					#{mb_id},
					#{review_title},
					#{review_content}
					)
</insert>


<update id="update">
UPDATE 
			review
SET 
		review_title =#{review_title}, 
		review_content =#{review_content}
WHERE 
		review_no=#{review_no}
</update>

<delete id="delete">
DELETE

FROM
		review
WHERE
		review_no=#{review_no}

</delete>
</mapper>